<html>
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
 <div class="col-md-12  mt-4" style="text-align: end;">
<a href ="/admin/view-products" class="btn btn-success ">Go Back</a>
</div>
</div>


<!-- Include the above in your HEAD tag -->
<div class="container">
<section>  
<form class="form-horizontal" action="/admin/edit-product/{{product._id}}" enctype="multipart/form-data" method="post">
<fieldset>

<!-- Form Name -->
<legend>EDIT PRODUCT</legend>
<hr>
<div class="form-group">
  <label class="col-md-4 control-label" for="product_name">PRODUCT NAME</label>  
  <div class="col-md-4">
  <input id="product_name" name="product_name" value="{{product.product_name}}" placeholder="Product Name" class="form-control input-md" required="" type="text">
    
  </div>
</div>
<br>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="category">PRODUCT CATEGORY</label>
  <div class="col-md-4">
    <select id="category" name="category" placeholder="select your category"  class="form-control" >

<option selected>{{product.category}}</option>
  {{#each categories}}
  <option>{{this.category}}</option>
     {{/each}}
    </select>
  </div>
</div>

<br>
<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="product_description">PRODUCT DESCRIPTION</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="product_description" name="product_description" >{{product.product_description}}</textarea>
  </div>
</div>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="available_quantity">AVAILABLE QUANTITY</label>  
  <div class="col-md-4">
  <input id="available_quantity" name="available_quantity" value="{{product.available_quantity}}" placeholder="Available Quantity" class="form-control input-md" required="" type="number">
    
  </div>
</div>
<br>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="offer_price">OFFER PRICE</label>  
  <div class="col-md-4">
  <input id="offer_price" name="offer_price" value="{{product.offer_price}}" placeholder="Offer Price" class="form-control input-md" required="" type="number">
    
  </div>
</div>
<br>
<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="price">PRICE</label>  
  <div class="col-md-4">
  <input id="price" name="price" placeholder="Price" value="{{product.price}}" class="form-control input-md" required="" type="number">   
  </div>
</div>
<br>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="percentage_discount">PERCENTAGE DISCOUNT</label>  
  <div class="col-md-4">
  <input id="percentage_discount" name="percentage_discount" value="{{product.percentage_discount}}" placeholder="Percentage Discount" class="form-control input-md" required="" type="number">
    
  </div>
</div>
<br>

 <!-- File Button --> 
<div class="form-group">
  <label class="col-md-4 control-label" for="image">Upload Image</label><br><br>

  <div class="col-md-4">
      <img src="/product-images/{{product._id}}.jpg" alt="" style="width: 100px; height:auto;" id="imgView"><br><br>
    <input id="image" name="image" class="form-control" type="file" onchange="viewImage(event)">
  </div>
</div>
<br>

<!-- Button -->
<div class="form-group">

  <div class="col-md-4">
    <button  class="btn btn-primary">Submit</button>
  </div>
  </div>

</fieldset>
</form>
</section>
</div>
 </body>
</html>


<script>
    function viewImage(event)
    {
    document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>
